@media screen and (max-width: 375px){
    .main-container{
        width: 375px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
        margin: auto;
    }
    .first-div{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .second-div{
        /* background-color: yellow; */
        height: 100vh;
        /* margin-top: 30px; */
        width: 100%;
        text-align: center;
    }
    .try-div{
        background-color: hsl(248, 32%, 49%);
        width: 100%;
        text-align: center;
        font-size: x-small;
        color: hsl(0, 0%, 95%);
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
    }
    .price{
        color: hsl(246, 25%, 77%);
    }
    .form{
        background-color: hsl(0, 0%, 95%);
        text-align: center;
        padding-bottom: 23px;
        border-radius: 5px;
    }
    .form input[type= text]#fname{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .form input[type= text]#lname{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-top: 10px;
    }
    .form input[type= email]{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-top: 10px;
    }
    .form input[type= password]{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-top: 10px;
    }
    .form input[type= submit]{
        background-color: hsl(154, 59%, 51%);
        border-radius: 5px;
        color: hsl(0, 0%, 95%);
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        border: 2px solid black;
        border-color: hsl(154, 59%, 51%);
    }
    .form input[type= text], .form input[type= email], .form input[type= password], .form input[type= submit]{
        width: 90%;
        font-size: x-small;
        border: 1px solid black;
        border-color: hsl(246, 25%, 77%);
        border-radius: 5px;
    }
    .form input[type= text]:focus, .form input[type= email]:focus, .form input[type= password]:focus, .form input[type= submit]:focus{
        /* border: 2px solid black; */
        border-color: hsl(246, 25%, 77%);
    }
    h6{
        color: hsl(246, 25%, 77%);
        padding-top: 10px;
        text-align: center;
        font-size: xx-small;
    
    }
    .terms{
        color: hsl(0, 100%, 74%);
    }
}