*{
    margin: 0;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    background-color: blue;
}
.header-content{
    background-color: green;
    color: aliceblue;
}
.main-container{
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img1{
    position: relative;
    width: 30%;
    height: 60%;
    margin-top: 45px;
}
.img2{
    position: relative;
    width: 30%;
    height: 60%;
    margin-top: 28px;
}
.img3{
    position: relative;
    width: 30%;
    height: 60%;
    margin-top: 45px;
}
h3{
    padding: 20px;
    color: green;
}
.par{
    padding: 20px;
    color: black;
    
}
